.rule_area {
  max-width: 720px;
  margin: 60px auto;
  padding: 0 24px;
  color: rgb(75 71 85);
}

.rule_area h3 {
  padding: 16px 0;
}

.rule_area span {
  line-height: 200%;
}

.rule_area ul {
  padding: 0 32px;
}

.rule_area li {
  line-height: 200%;
}

.content div {
  margin: 24px 0;
}

.content div.square {
  border: 4px solid gray;
  border-radius: 24px;
  padding: 8px 24px 24px;
  line-height: 250%;
  font-size: 116%;
}

.content div.square.allowrd {
  border: 4px solid rgb(255, 92, 92);
}

.content div.square.allowrd h3 {
  color: rgb(255, 92, 92);
}

.content div.square.forbidden {
  border: 4px solid rgb(92, 144, 255);
}

.content div.square.forbidden h3 {
  color: rgb(92, 144, 255);
}

.content li {
  line-height: 132%;
  margin: 16px 0;
}

.content p {
  font-size: 80%;
  color: gray;
  line-height: 140%;
  margin: 8px 0;
}

.page_title {
  margin: 72px 0 32px;
}

.page_title h2 {
  width: auto;
  border-bottom: 2px solid rgb(133, 92, 214);
}

.update {
  color: gray;
}

.update table {
  margin-bottom: 24px;
}

.update td {
  padding-right: 12px;
}

.update span {
  font-size: 80%;
}
